body {
    background-color: #000;
}


.button-row {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;
}

footer {
    position        : fixed;
    bottom          : 1%;
    left            : 1%;
    text-align      : center;
    line-height     : 28px;
    padding         : 15px 20px;
    background-color: lightgreen;
    width           : 331px;
    max-width       : 86%;
    margin-top      : auto;
}


footer a {
    color          : #000;
    text-decoration: none;
}